PORT=3000

SUPABASE_URL=https://anpdeicypxflfwzdcpkr.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFucGRlaWN5cHhmbGZ3emRjcGtyIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3Nzk1OTUwNCwiZXhwIjoyMDkzNTM1NTA0fQ._GDb3RoA7PkQaHKEm93i_uIMPrxuXwYKJgZgFknjfkM

ROUTER_URL=http://localhost:20128/v1